.add-board-form {
    width: 800px;
}

.form-button {
  background: #fc4444;
  border: none;
}

.form-button:hover {
  background: #64a4dc;
  border: solid 1px#fc4444;
}

.form-button-text {
  color: #dcdcdc;
}

.form-button-text:hover {
  color: #fc4444;
}
